@font-face {
  font-family: 'iconfont';  /* Project id 2577235 */
  src: url('//at.alicdn.com/t/font_2577235_61soor9el9b.woff2?t=1622185660244') format('woff2'),
  url('//at.alicdn.com/t/font_2577235_61soor9el9b.woff?t=1622185660244') format('woff'),
  url('//at.alicdn.com/t/font_2577235_61soor9el9b.ttf?t=1622185660244') format('truetype');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ant-layout-header {
  color: white !important;
}
.g-modal-mask {
  background-color: rgba(0,0,0,.45);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  .g-spin {
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
@import "./dashboard-view";
@import "./header-view";
@import "./hooks-view";